#container {color:green;
}

td{color:grey;

}

.green{color:green;
}

.black{color:black; }

nav {position: absolute;
top:0; }

div {margin-top: 90px;}

table {background-color: lightcoral;}

ul {font-size: 1.3em; }

.dottedline {border-style: dotted; }












